* {
    font-family: "Titillium Web", sans-serif;
    margin: 0px;
    padding: 0px;
    user-select: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
}
:root{
    --main-box-bg: rgba(0, 0, 0, 0.23);
    --main-bg: #111318;
    --sidebar-btn-hover: rgba(255, 255, 255, 0.056);
    --main-color: #9a6248;
    --main-color-hover: #ab6651;
    --light-box: rgba(255, 255, 255, 0.020);
    --light-box-hover: rgba(255, 255, 255, 0.040);
}
html {
    overflow: hidden;
}

p {
    margin: 0px !important;
}

::-webkit-scrollbar {
    margin-left: 8px;
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #99999979;
    border-radius: 10px;
    margin-left: 8px;
}
   
::-webkit-scrollbar-thumb {
    background: #e6e6e6d7;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #e6e6e6f8; 
}

.background {
    background: linear-gradient(90deg, #2e2a28, transparent 38%, transparent 68%, #2e2a28);
    width: 100%;
    height: 100%;
    position: absolute;
}
.left{
    display: flex;
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translate(-50%, -50%);
}
.left-box{
    background: var(--main-bg);
    padding: 1.5rem;
    width: 27rem;
    height: 55rem;
    border-radius: .75rem;
}

.main-screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0px;
    z-index: 100;
}

/* VEHICLE-SHOP HEADER */

.vehicleshop-header {
    position: absolute;
    display: flex;
    top: 15px;
    padding: 10px;
    width: 78%;
}

.vehicleshop-logo {
    font-size: 25px;
    width: 100%;
}

.vehicleshop-logo > .vehicleshop-icon > i {
    margin-right: 5px;
}

.vehicleshop-name {
    font-weight: 700;
    width: 100%;
}

.searchBar {
	display: flex;
	background: rgba(14, 14, 14, 0.571);
    margin-block: auto;
    border-radius: 7px;
    width: 18vw;
	height: 2vw;
	margin-bottom: 10px;
    margin-inline: 80px;
    align-items: center;
    margin-block: auto;
}

.search-bar {
	background: transparent;
    border: transparent;
    font-family: 'Kanit', sans-serif;
    font-weight: medium;
    color: #eaeaea;
    outline: none;
	margin-left: 5px;
	padding-inline: 5px;
    width: -webkit-fill-available;
}

.searchBar > .fa-magnifying-glass {
	color: white;
	padding: 11px;
}

.vehicleshop-categories {
    display: flex;
    margin-left: 10px;
    margin-top: 21px;
    flex-direction: column;
    gap: 5px;
}

.category {
    height: 2vw;
    padding-inline: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    padding: 0.05rem 0.05rem;
    border-radius: .25rem;
    font-size: .85rem;
    color: #ffffff;
    font-weight: 600;
    width: 2vw;
    transition: all 150ms ease;
    margin-inline-end: 8px;
    cursor: pointer;
}

.category:hover {
    scale: 1.085;
}

.category > img {
    width: 80%;
    height: 100%;
    transition: all 150ms ease;
    padding-inline: 10%;
    filter: invert(0.10);
}

.category:hover > img {
    filter: invert(0.85);
}

.category .tooltiptext {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 12px;
    visibility: hidden;
    width: 120px;
	background-color: rgba(14, 14, 14, 0.571);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-top: 5px;
}

.category .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
}

.category .tooltiptext {
    width: fit-content;
    min-width: 75px;
    top: -5%;
    left: 125%;
    padding: 0.5rem 0.5rem;
}

.category .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
}

.category:hover .tooltiptext {
    opacity: 1;
}

.category:hover .tooltiptext {
    visibility: visible;
}

.selected-category {
    scale: 1.085;
}

.selected-category > img {
    filter: invert(0.85);
}

/*  */

.vehicle-list {
    width: 100%;
    margin-top: 62px;
    overflow-y: scroll;
    height: 93%;
}

.vehicle {
    border-radius: 6px;
    background: var(--light-box-hover);
    margin-block-end: 8px;
    border: 1px solid transparent;
}

.vehicle:hover {
    background: var(--light-box);
}

.vehicle > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.vehicle-info {
    width: -webkit-fill-available;
}

.vehicle-brand {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

.vehicle-name {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}

.vehicle-price > p > .dollar-icon {
    margin-left: 5px;
}

.selected-vehicle {
    background: var(--sidebar-btn-hover);
    border-color: var(--sidebar-btn-hover);
}

/* */


.right-bar {
    display: none;
    position: absolute;
    right: 45px;
    bottom: 45px;
    background: var(--main-bg);
    padding: 1.5rem;
    border-radius: .75rem;
    width: 13%;
}

/* COLORS */

.color-text {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

.color-table {
    display: flex;
    width: fit-content;
    margin-inline: auto;
    width: 100%;
}

.color-selector {
    width: 15px;
    height: 15px;
    border-radius: 4px;
    margin-inline: 2px;
    margin-block: 5px;
    transition: 0.25s;
    border: 1px solid transparent;
}

.color-selector:hover {
    scale: 1.095;
    border-color: gray;
}

/*  */

.test-button {
    margin-inline: auto;
    text-align: center;
    background: #58585866;
    border: 1px solid gray;
    box-shadow: 0px 0px 8px #80808029;
    margin-block: 12px;
    padding: 12px 0px;
    border-radius: 8px;
    transition: 0.25s;
}

.test-button:hover {
    background: #7c7c7c7e;
    border: 1px solid rgb(160, 160, 160);
}

/* PRICES INFOS */

.prices-infos {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.price {
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0px 0px 6px rgba(5, 5, 5, 0.285);
}

.dollar-icon {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    color: #0cca55;
}

.price-text {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

#price {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    padding-block: 9px;
}

.buy-button {
    width: 255px;
    background: #0cca55;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px;
    transition: 0.25s;
}

.buy-button:hover {
    box-shadow: 0px 0px 12px #0b8f3da2;
}

/*  */

.buttn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    padding: .65rem 1.5rem;
    border-radius: .25rem;
    font-size: .85rem;
    color: #ffffff;
    font-weight: 600;
    width: fit-content;
    transition: all 150ms ease;
}
.buttn:hover {
    background: var(--main-color-hover);
    color: #ffffff;
}